.new-tweet form {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.new-tweet form {
  font-weight: bold;
}

.new-tweet form textarea {
  border: none;
  border-bottom: 2px solid black;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee;
  margin: 1rem 0 0 0;
}

.new-tweet form button {
  background: #4152a1;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
}

.new-tweet {
  padding: 5px 0;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form {
  font-weight: bold;
}

.new-tweet form textarea {
  border: none;
  border-bottom: 2px solid black;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee;
  margin: 1rem 0 0 0;
}

.new-tweet form button {
  background: #4152a1;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
}

.redFont {
  color: rgb(204, 9, 9)
}

#error-message {
  display: none;
  width: 75%;
  text-align: left;
  color: red;
  z-index: 3;
}

#tweet-text::placeholder {
  text-align:start;
  font-weight: bold;
  color: rgb(83, 79, 79)
}

#tweets-container > article:hover{
  box-shadow: 5px 10px #888888;
} 

@media only screen and (min-width: 300px) and (max-width: 1023px) {
  .new-tweet {
    margin: 0.5em;
  }
    .new-tweet form {
      margin-top: 0;
    }
}